*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea/workspace.xml
/.idea/libraries
/build
/captures
/local.properties
app/.gitignore
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
